<footer class="footer" role="contentinfo" itemscope itemtype="http://schema.org/WPFooter">
    <div class="container footer-container">
        <div class="row justify-content-between align-items-center">

            <!-- Left Section -->
            <div class="col-md-4 text-center text-md-start mb-4">
                <img src="/assets/slogo.png" alt="Logo" itemprop="logo" class="logo fade-in mb-2" />
                <h3 itemprop="name" class="site-name">Swaminathan</h3>
                <nav aria-label="Footer Navigation">
                    <ul class="footer-links d-flex flex-wrap justify-content-center justify-content-md-start gap-2">
                        <li><a href="/home#home" itemprop="url">Home</a></li>|
                        <li><a href="/home#about" itemprop="url">About</a></li>|
                        <li><a href="/home#skills" itemprop="url">Skill</a></li>|
                        <li><a href="/home#projects" itemprop="url">Project</a></li>|
                        <li><a href="/home#contact" itemprop="url">Contact</a></li>
                    </ul>
                </nav>
            </div>

            <!-- Center Section -->
            <div class="col-md-4 text-center text-md-start mb-4">
                <!-- Address Section -->
                <div itemscope itemtype="http://schema.org/PostalAddress" class="address mb-3">
                    <a href="https://www.google.com/maps/place/KBRS+HOME/@10.8805017,78.8269037,927m/data=!3m2!1e3!4b1!4m6!3m5!1s0x3baaf1006c7e4367:0x882b208a1b1b34d2!8m2!3d10.8804964!4d78.8294786!16s%2Fg%2F11wqpbfk23?entry=ttu&g_ep=EgoyMDI1MDIwMi4wIKXMDSoASAFQAw%3D%3D"
                        target="_blank" rel="noopener noreferrer">
                        <i class="fa-solid fa-location-dot fancy-icon"></i>
                    </a>
                    <p>
                        <span itemprop="streetAddress">119, North Street, Manakkal Agraharam</span><br>
                        <span itemprop="addressLocality">Lalgudi 621-601</span>,
                        <span itemprop="addressRegion">Trichy</span>,
                        <span itemprop="postalCode">Tamil Nadu</span>
                    </p>
                </div>

                <!-- Phone Section -->
                <div class="contact-info mb-3">
                    <a href="tel:6374528425">
                        <i class="fa-solid fa-phone-volume fancy-icon"></i>
                    </a>
                    <p itemprop="telephone">+91 63745 28425</p>
                </div>

                <!-- Email Section -->
                <div class="contact-info">
                    <i class="fa-solid fa-envelope fancy-icon"></i>
                    <p>
                        <a href="mailto:swaminathankannank@gmail.com" itemprop="email">
                            swaminathankannank&#64;gmail.com
                        </a>
                    </p>
                </div>
            </div>

            <!-- Right Section -->
            <div class="col-md-4 text-center text-md-start">
                <p class="footer-about">
                    <span class="h3">About this site</span><br>
                    <span>Welcome to my portfolio! This site showcases my journey in technology, from coding projects to
                        innovative solutions. I am passionate about building Web applications. Here, you'll find my
                        projects
                        and insights as I continue to grow in the field of software development. Feel
                        free to explore, and let's connect!</span>
                </p>
            </div>
        </div>
    </div>
    <hr class="footer-underline"> <!-- Visible underline -->

    <!-- Social Media & Copyright Section -->
    <div class="row text-center mt-4">
        <div class="col-12">
            <div class="footer-socials d-flex justify-content-center gap-3 mb-3">
                <a href="https://www.instagram.com/santhosh__kbrs/profilecard/?igsh=N3o3cW40MGNqY2V6"
                    aria-label="Instagram" itemprop="sameAs" class="glow" target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://wa.me/6374528425?text=Hi%2C%20how%20can%20I%20get%20info%3F" target="_blank"
                    aria-label="WhatsApp" itemprop="sameAs" class="glow">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
                <a href="https://www.linkedin.com/in/swaminathan-k-9480a6249?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                    aria-label="LinkedIn" itemprop="sameAs" class="glow" target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
                <a href="https://github.com/swaminathankannan" aria-label="GitHub" itemprop="sameAs" class="glow"
                    target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-github"></i>
                </a>
            </div>
            <p class="footer-name">
                © 2025 Company. Designed and Developed by
                Swaminathan
            </p>
        </div>
    </div>
</footer>