<footer class="footer" role="contentinfo" itemscope itemtype="http://schema.org/WPFooter">
    <div class="footer-container">
        <div class="footer-left">
            <img src="/assets/slogo.png" alt="Logo" itemprop="logo" class="logo fade-in" />
            <h3 itemprop="name" class="site-name">Swaminathan</h3>
            <nav aria-label="Footer Navigation">
                <ul class="footer-links">
                    <li><a href="#" itemprop="url">Home</a></li>|
                    <li><a href="#" itemprop="url">About</a></li>|
                    <li><a href="#" itemprop="url">Skill</a></li>|
                    <li><a href="#" itemprop="url">Project</a></li>|
                    <li><a href="#" itemprop="url">Contact</a></li>|
                </ul>
            </nav>
            <p class="footer-name">
                <a href="">k Swaminathan</a> © 2025
            </p>
        </div>

        <div class="footer-center">
            <!-- Address Section -->
            <div itemscope itemtype="http://schema.org/PostalAddress" class="address">
                <i class="fa-solid fa-location-dot fancy-icon" aria-hidden="true"></i>
                <p>
                    <span itemprop="streetAddress">119, North Street, Manakkal Agraharam</span><br>
                    <span itemprop="addressLocality">Lalgudi 621-601</span>,
                    <span itemprop="addressRegion">Trichy</span>,
                    <span itemprop="postalCode">Tamil Nadu</span>
                </p>
            </div>
        
            <!-- Phone Section -->
            <div class="contact-info">
                <i class="fa-solid fa-phone-volume fancy-icon" aria-hidden="true"></i>
                <p itemprop="telephone">+91 63745 28425</p>
            </div>
        
            <!-- Email Section -->
            <div class="contact-info">
                <i class="fa-solid fa-envelope fancy-icon" aria-hidden="true"></i>
                <p>
                    <a href="mailto:swaminathankannank@gmail.com" itemprop="email">
                        swaminathankannankgmail.&#64;com
                    </a>
                </p>
            </div>
        
            <!-- Social Media Links -->
            <div class="social-links">
                <a href="#" target="_blank" class="social-icon instagram"><i class="fa-brands fa-instagram"></i></a>
                <a href="#" target="_blank" class="social-icon facebook"><i class="fa-brands fa-facebook"></i></a>
                <a href="#" target="_blank" class="social-icon twitter"><i class="fa-brands fa-twitter"></i></a>
                <a href="#" target="_blank" class="social-icon github"><i class="fa-brands fa-github"></i></a>
            </div>
        </div>

        <div class="footer-right">
            <p class="footer-about">
                <span>About this site</span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce euismod convallis velit.
            </p>
            <div class="footer-socials">
                <a href="#" aria-label="Facebook" itemprop="sameAs" class="glow"><i
                        class="fa-brands fa-facebook"></i></a>
                <a href="#" aria-label="Twitter" itemprop="sameAs" class="glow"><i
                        class="fa-brands fa-x-twitter"></i></a>
                <a href="#" aria-label="LinkedIn" itemprop="sameAs" class="glow"><i
                        class="fa-brands fa-linkedin"></i></a>
                <a href="#" aria-label="GitHub" itemprop="sameAs" class="glow"><i class="fa-brands fa-github"></i></a>
            </div>
        </div>
    </div>
</footer>