<div class="container">
    <div class="padding">
        <div class="row align-items-center">
            <!-- Image Section -->
            <div class="col-md-6 col-lg-5 text-center">
                <img src="/assets/aboutUs.png" alt="About Image" class="img-fluid rounded">
            </div>
            <!-- Content Section -->
            <div class="col-md-6 col-lg-7">
                <div class="text-center py-4 one">
                    <h3 class="headingOne dark-blue pb-3 d-block">About me</h3>
                </div>
                <!-- Desktop version -->
                <div class="desktop text-center">
                    <div class="d-flex justify-content-center">
                        <div class="col-lg-6">
                            <div id="carouselDesktop" class="carousel slide">
                                <div class="d-flex align-items-center justify-content-center gap-4">
                                    <button (click)="prevSlide()" [disabled]="isPrevDisabled()" class="btn-carousel">
                                        <img *ngIf="!isPrevDisabled()" src="assets/UparrowActive.png" alt="Previous">
                                        <img *ngIf="isPrevDisabled()" src="assets/UparrowDisabled.png" alt="Disabled">
                                    </button>
                                    <div class="carousel-inner">
                                        <div class="carousel-item" *ngFor="let item of carouselItems; let i = index"
                                            [class.active]="i === 0">
                                            <h3 class="fw-bold light-themeColor">{{ item.title }}</h3>
                                            <p class="text-md-start mt-5" [innerHTML]="item.description"></p>
                                        </div>
                                    </div>
                                    <button (click)="nextSlide()" [disabled]="isNextDisabled()" class="btn-carousel">
                                        <img *ngIf="!isNextDisabled()" src="assets/DownarrowActive.png" alt="Next">
                                        <img *ngIf="isNextDisabled()" src="assets/DownarrowDisabled.png" alt="Disabled">
                                    </button>
                                </div>
                                <p class="h5">{{ activeSlide }}/{{ totalSlides }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4">
                        <button #downloadbtn (click)="downloadCv()">Download CV</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>