<div class="container py-5">
    <div class="row align-items-center">
        <!-- Image Section -->
        <div class="col-md-6 col-lg-5">
            <div class="img-about">
                <img src="/assets/About img.jpg" alt="About Image" class="img-fluid">
            </div>
        </div>
        <!-- Content Section -->
        <div class="col-md-6 col-lg-7 pl-lg-5">
            <div class="heading-section">
                <h2 class="mb-4">About Me</h2>
                <p>
                    Hi! I’m Swaminathan Selvam, As a dedicated Front-End Developer and Software Engineer, I am
                    passionate about creating intuitive user experiences through modern
                    web technologies. I am committed to continuous learning and staying
                    current with industry trends, aspiring to contribute to innovative
                    projects that integrate front-end and back-end systems seamlessly.
                </p>
                <ul class="about-info list-unstyled mt-4">
                    <li class="mb-2"><strong>Name:</strong> Swaminathan</li>
                    <li class="mb-2"><strong>Date of Birth:</strong> January 01, 2002</li>
                    <li class="mb-2"><strong>Address:</strong> 119, North street manakkal agraharam lalgudi</li>
                    <li class="mb-2"><strong>Email:</strong> swaminathankannank</li>
                    <li class="mb-2"><strong>Phone:</strong> +91 63745 28425</li>
                </ul>
                <div class="mt-4">
                    <button class="button">
                        <span class="button_lg">
                            <span class="button_sl"></span>
                            <a href="https://drive.google.com/file/d/1CQCPixNW1-pFyXcJvgTJRVFAAxTu6quT/view?usp=drivesdk"
                                class="button_text white" target="_blank"
                                rel="noopener noreferrer">
                                Download CV
                            </a> </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>