<div class="padding">
    <div class="container p-4">
        <h2 class="h1 dark-blue text-center">About Me</h2>
        <div class="row align-items-center">
            <!-- Image Section -->
            <div class="col-md-6 col-lg-5">
                <div class="img-about">
                    <img src="/assets/aboutUs.png" alt="About Image" class="img-fluid">
                </div>
            </div>
            <!-- Content Section -->
            <div class="col-md-6 col-lg-7 pl-lg-5">
                <div class="heading-section">
                    <p class="h5">
                        Hi! I’m Swaminathan, As a dedicated Front-End Developer and Software Engineer, I am
                        passionate about creating intuitive user experiences through modern
                        web technologies.aspiring to contribute to innovative
                        projects that integrate front-end system seamlessly.
                    </p>
                    <ul class="about-info list-unstyled mt-4">
                        <li class="mb-2"><strong>Name:</strong> Swaminathan K</li>
                        <li class="mb-2"><strong>Date of Birth:</strong> January 01, 2002</li>
                        <li class="mb-2"><strong>Address:</strong> 119, North street manakkal agraharam
                            lalgudi</li>
                        <li class="mb-2"><strong>Email:</strong> swaminathankannank&#64;gmail.com</li>
                        <li class="mb-2"><strong>Phone:</strong> +91 63745 28425</li>
                    </ul>
                    <div class="mt-4">
                        <a href="https://drive.google.com/file/d/1CQCPixNW1-pFyXcJvgTJRVFAAxTu6quT/view?usp=drivesdk"
                            class="btn themebgColor custom-button zoom-in-bottom" target="_blank"
                            rel="noopener noreferrer">
                            Download CV
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>