<div class="container d-flex flex-column justify-content-center align-items-center min-vh-100">
    <div class="w-100 text-center mb-4">
        <h2 class="project-title">Our Projects</h2>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-center gap-5">
        <div class="col">
            <div class="card">
                <img src="assets/pficon.png">
                <div class="card__content">
                    <p class="card__title">Plactic finder</p>
                    <p class="card__description">The leading trading platform for compliant and traceable recycled plastic.
                        Buy and sell high-quality, blockchain-verified recycled materials</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="/assets/crpicon.svg">
                <div class="card__content">
                    <p class="card__title">Certified Recycled Plastic®</p>
                    <p class="card__description">Certified Recycled Plastic® collects and traces data in accordance with
                        relevant regulations. ISO 14021. Self-declared environmental claims. UNI EN 15343.</p>
                </div>
            </div>
        </div>
    </div>
</div>
