<div class="container d-flex flex-column justify-content-center align-items-center min-vh-100">
    <div class="w-100 text-center mb-4">
        <h2 class="project-title">Projects</h2>
    </div>
    <div class="row justify-content-center gap-5">
        <div class="col-lg-6 col-md-6 col-12">
            <div class="card">
                <div class="content">
                    <div class="back">
                        <div class="back-content">
                            <img src="/assets/crpicon.svg" alt="">
                            <strong class="black">Certified Recycled®</strong>
                        </div>
                    </div>
                    <div class="front">
                        <div class="img">
                            <div class="circle">
                            </div>
                            <div class="circle" id="right">
                            </div>
                            <div class="circle" id="bottom">
                            </div>
                        </div>
                        <div class="front-content">
                            <div class="description">
                                <div class="title">
                                    <p class="title">
                                        <strong>Certified Recycled Plastic® collects and traces data in accordance with
                                            relevant regulations. ISO 14021. Self-declared environmental claims. UNI EN
                                            15343.</strong>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12">
            <div class="card">
                <div class="content">
                    <div class="back">
                        <div class="back-content">
                            <img src="/assets/pficon.png" alt="">
                            <strong class="black">Plastic Finder</strong>
                        </div>
                    </div>
                    <div class="front">
                        <div class="img">
                            <div class="circle">
                            </div>
                            <div class="circle" id="right">
                            </div>
                            <div class="circle" id="bottom">
                            </div>
                        </div>
                        <div class="front-content">
                            <div class="description">
                                <div class="title">
                                    <p class="title">
                                        <strong>The leading trading platform for compliant and traceable recycled
                                            plastic.
                                            Buy and sell high-quality, blockchain-verified recycled material</strong>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>