<div class="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="row align-items-center">
                    <div class="col-lg-7 mb-5 mb-lg-0">
                        <h2 class="mb-4">We’d Love to Hear From You! 👋</h2>
                        <p class="section-text" style="letter-spacing: 1.5px;">
                            Hate forms? Send us an 
                            <a href="mailto:swaminathankannank@gmail.com" class="themeColor">Email</a> instead!
                        </p>

                        <form id="contact-form">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label for="fname">First Name</label>
                                    <input type="text" class="form-control" name="fname" id="fname"
                                        placeholder="First name" required>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="lname">Last Name</label>
                                    <input type="text" class="form-control" name="lname" id="lname"
                                        placeholder="Last name" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" name="email" id="email"
                                        placeholder="Enter your email" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label for="message">Message</label>
                                    <textarea class="form-control" name="message" id="message" cols="30" rows="5"
                                        placeholder="Write your message..." required></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 py-5">
                                    <button type="submit" class="border-el-btn">
                                        Submit
                                        <span class="b1"></span>
                                        <span class="b2"></span>
                                        <span class="b3"></span>
                                        <span class="b4"></span>
                                    </button>
                                </div>
                            </div>
                            <div id="form-message-warning" class="alert alert-danger mt-3 d-none">
                                Oops! Something went wrong.
                            </div>
                            <div id="form-message-success" class="alert alert-success mt-3 d-none">
                                Your message was sent successfully! 🎉
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>