.skills-section {
    padding-top: 20px;
}

.skills-header {
    text-align: center;
    color: #141313;
    padding: 1rem;
    position: relative;
}

.skills-header:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 4px;
    background-color: #2ecc71;
    border-radius: 2px;
}

.skills-container {
    display: grid;
    grid-tempLate-columns: repeat(5, 1fr);
    justify-content: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
}

.skills-box {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.skills-box:hover .skills-img {
    transform: translateX(-20px);
}

.skills-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
}

.skills-title:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 20px;
    height: 4px;
    border-radius: 2px 0 0 2px;
    background-color: #2ecc71;
    transition: .5s;
}

.skills-title:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100px;
    height: 4px;
    border-radius: 0 2px 2px 0;
    background-color: #2ecc71;
}

.skills-icons {
    width: 50px;
    z-index: 2;
}

.skills-icons-postman {
    width: 90px;
    z-index: 1;
    padding-right: 10px;
}

.skills-box.in-view {
    opacity: 1;
    transform: translateY(0);
}

.skills-img {
    width: 90px;
    height: 90px;
    position: relative;
    border-radius: 45px;
    background-color: rgba(131, 131, 131, 0.379);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.skills-img:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 90px;
    background: #00DFC0;
    border-radius: 45px 0 0 45px;
}

.skills-title h3 {
    color: #333;
    margin-top: 0.5rem;
}

.tab-content {
    position: relative;
    margin-top: 20px;
}

.content {
    display: none;
    animation: fade-in 0.3s ease-in-out;
}

.content.active {
    display: block;
}

.tabs-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tabs {
    display: flex;
    gap: 10px;
    background: black;
    padding: 10px 30px;
    border-radius: 40px;
}

.tab-link {
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    background: black;
    color: white;
    transition: background 0.3s ease-in-out;
    border-radius: 5px;
}

.tab-link.active {
    background: #00DFC0;
    color: black;
    border-radius: 20px;
}

.tab-content {
    display: none;
    animation: fadeIn 0.5s ease-in-out;
}

.tab-content.active {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@media screen and (max-width:990px) {
    .skills-container {
        grid-tempLate-columns: repeat(2, 1fr);
        padding: 2rem 50px;
    }
}

@media screen and (max-width:650px) {
    .skills-container {
        grid-tempLate-columns: 2fr;
        padding: 2rem 50px;
    }
}