<div class="container py-5">
    <div class="row align-items-center">
        <div class="skills-section">
            <div class="skills-header">
                <h1>Skills</h1>
            </div>
            <div class="skills-container">

                <div class="skills-box">
                    <div class="skills-title">
                        <div class="skills-img">
                            <img src="https://cdn.freebiesupply.com/logos/large/2x/html-5-logo-png-transparent.png"
                                alt="" class="skills-icons">
                        </div>
                        <h3>HTML</h3>
                    </div>
                </div>


                <div class="skills-box">
                    <div class="skills-title">
                        <div class="skills-img">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/3/3d/CSS.3.svg" alt=""
                                class="skills-icons">
                        </div>
                        <h3>CSS</h3>
                    </div>
                </div>


                <div class="skills-box">
                    <div class="skills-title">
                        <div class="skills-img">
                            <img src="/assets/javascript.png" alt="" class="skills-icons">
                        </div>
                        <h3>JAVASCRIPT</h3>
                    </div>
                </div>

                <div class="skills-box">
                    <div class="skills-title">
                        <div class="skills-img">
                            <img src="/assets/angular.jpeg" alt="" class="skills-icons">
                        </div>
                        <h3>ANGULAR</h3>
                    </div>
                </div>

                <div class="skills-box">
                    <div class="skills-title">
                        <div class="skills-img">
                            <img src="/assets/bootstrap.png" alt="" class="skills-icons">
                        </div>
                        <h3>BOOTSTRAP</h3>
                    </div>
                </div>

                <div class="skills-box">
                    <div class="skills-title">
                        <div class="skills-img">
                            <img src="/assets/typescriptlogo.png" alt="" class="skills-icons">
                        </div>
                        <h3>TYPESCRIPT</h3>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>