<div class="home padding p-4" id="home">
    <!-- Back Arrow -->
    <div class="back-arrow" onclick="window.location.href='/'">
        <i class="fa-solid fa-arrow-left"></i>
    </div>

    <div class="home-container bd-grid">
        <div class="home-data">
            <div class="home-img m-3">
                <img src="/assets/myProfilePic.jpg" alt="">
            </div>

            <h1 class="home-title">Swaminathan K</h1>
            <span class="home-profession h5">Frontend Developer</span>

            <div class="footer-socials">
                <a href="https://www.instagram.com/santhosh__kbrs/profilecard/?igsh=N3o3cW40MGNqY2V6"
                    aria-label="Instagram" itemprop="sameAs" class="glow" target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://wa.me/6374528425?text=Hi%2C%20how%20can%20I%20get%20info%3F" target="_blank"
                    aria-label="WhatsApp" itemprop="sameAs" class="glow">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
                <a href="https://www.linkedin.com/in/swaminathan-k-9480a6249?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                    aria-label="LinkedIn" itemprop="sameAs" class="glow" target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
                <a href="https://github.com/swaminathankannan" aria-label="GitHub" itemprop="sameAs" class="glow"
                    target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-github"></i>
                </a>
            </div>

            <button class="button">
                <span class="button-content"><a
                        href="https://drive.google.com/file/d/1CQCPixNW1-pFyXcJvgTJRVFAAxTu6quT/view?usp=drivesdk"
                        class="button_text white" target="_blank" rel="noopener noreferrer">
                        Download CV
                    </a></span>
            </button>
        </div>
    </div>
</div>