<div class="bgimage">
<div class="container">
    <div class="row" style="padding: 63px 0;">
        <div class="col-lg-6 m-auto">
            <!-- Text Divs -->
            <div class="show carousel one" id="textOne">
                <span class="subheading h3">Hello!👋</span>
                <h1 class="mb-4 mt-3">I'm <span>SWAMINATHAN</span></h1>
                <h2 class="mb-4">A Software Engineer</h2>
            </div>
            <div class="show carousel two d-none" id="textTwo">
                <h1 class="mb-4 mt-3">I'm <span>WEB DESIGNER</span></h1>
                <h2 class="mb-4">A Front End Developer 👨‍💻</h2>
            </div>
        </div>
        <div class="col-lg-6">
            <!-- Carousel -->
            <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                <!-- Carousel Indicators -->
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                </div>

                <!-- Carousel Items -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="d-flex justify-content-end">
                            <img src="/assets/handCoding.png" class="d-block carousel-img" alt="...">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="d-flex justify-content-end">
                            <img src="/assets/landingPage.png" class="d-block carousel-img" alt="...">
                        </div>
                    </div>
                </div>

                <!-- Carousel Controls -->
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>
</div>
